/**
 * @file
 * Style sheet for TTA_Custom Admin module. 
 */

#tta-custom-texts-form .form-item {
  float: left;
  margin: 0 1% 10px;
  min-height: 114px;
  padding: 9px 0;
  width: 48%;
}

#tta-custom-texts-form fieldset {
  clear: both;
}
