/* SAMHSA.gov - Sub Site Template	*/
/* Updated 07/15/2010				*/
/* Development Version - Not final	*/

/* Note: For up-scaling to full HTML5, the 
following classes upscale to elements:
.header -> <header>
.nav -> <nav>
.aside -> <aside>
.footer -> <footer>
*/

/* =Basic Elements
---------------------------------------- */
body {
	background: #eee9d6 url("../site_images/universal/brownWhiteBG1024x43.gif") repeat-y center center;
	font-family: "Trebuchet MS", Verdana, san-serif;
	font-size: 0.8em;
	margin: 0 auto;
}

a {
	color: #616f57;
	font-weight: bold;
	text-decoration: none;
}
/* added specificty to SAMHSA's stylesheet because it's wrecking havoc with hover styles. */
#main-content a:hover {
	background: #ffc;
	color: #6a1010;
}

h1, h2, h3, h4 {

}

h1 {
	background: transparent;
	color: #000;
	font-size: 2.4em;
}

h2 { 
	background: transparent;
	color: #000;
	font-size: 2.0em;
	margin-top: 0;
}

h3 { 
	background: transparent;
	color: #6a1010;
	font-size: 1.6em;
}

h4 { 
	background: transparent;
	color: #616f57;
	font-size: 1.2em;
}

h5 {
	background: transparent;
	color: #000;
	font-size: 1.0em;
}

img { 
	border: 0 !important;
}

label { font-weight: bold;}


/* =Structural
---------------------------------------- */
#wrapper {
/*	border-top: 7px solid #616f57; */
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 980px;
}

#pageTopper {
	/* background: #ede0d1; */
	border-bottom: 1px solid #bab1a2;
	padding: 2px 3px;
}

.header {
	background: #f9f3dd;
	height: 97px;
	margin: 0 auto;
	padding: 5px 0 0 0;
}

.innerWrap {
	overflow: hidden;
	margin: 0px auto 0px; 
	padding: 6px 0 0;
	width: 980px; 
}

.footer {
	background: #587887;
	color: #fff !important;
	margin: 60px auto 0;
	padding: 0 0 10px 0;
}


/* =TextSizer Formatting 
(Formats the HTML controls *not* the actual resizing functionality)
---------------------------------------- */
#textSizerSmA { font-size: 0.8em; }
#textSizerMedA { font-size: 0.9em; }
#textSizerLgA { font-size: 1.0em; }


/* =Header Formatting
---------------------------------------- */
.header a {	background: transparent;}
.header a:hover { background: transparent;}

.header form {
	margin: 0;
	padding: 0;
}

#headerLeftSide {
	float: left;
}

#headerLeftSide h1 {
	display: none;
	visibility: hidden;
}

#headerRightSide {
	font-size: 0.9em;
	padding: 6px 3px 0 0;
	text-align: right;
}

#headerRightSide ul {
	display: inline;
	margin: 0;
	padding: 0;
	text-align: left;
}

#headerRightSide ul li {
	display: inline;
	list-style: none;
}

#headerRightSide ul li a {
	background: transparent;
	color: #616f57;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0 5px;
	text-decoration: none;
}

#headerRightSide ul li a:hover {
	background: #616f57;
	color: #fff;
}


/* =FooterNavList
---------------------------------------- */
#footerLeftSide {
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
}

#footerRightSide {
	float: right;
	margin: 0 10px 0 0;
	overflow: hidden;
	padding: 0;
	text-align: right;
	/* width: 420px; */
}

#footerBottom {
	font-weight: bold;
	margin: 30px 0 0;
	text-align: center;
}

#widgets-bottom { 
	list-style: none;
	list-style-image: none;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}

#widgets-bottom .widgetSmall { 
	float: left; 
	width: 140px; 
	margin:0px 20px 20px 0px;
}

#widgets-bottom .widgetLarge { 
	float: left; 
	width: 200px; 
	margin: 0;
}

ul.footerSiteNav {
	margin: 0;
	padding: 0;
}

.footerSiteNav li {
	border-bottom: 1px dotted #fff;
	display: block;
	list-style: none;
	width: 140px
}

.footerSiteNav li:hover {
	border-bottom: 1px solid #fff;
}

/* Footer Typography */
.footer {
	color: #6a1010;
	font-size: 0.85em;
}

.footer a {
	background: transparent;
	color: #fff;
}

.footer a:hover { 
	background: transparent;
	color: #ff0;
}

#missionStatement {
	font-size: 1.4em;
	font-style: italic;
	font-weight: bold;
}

/* =Four Points
---------------------------------------- */
#fourPoints {
	background: #8a180e;
	color: #fff;
	font-size: 1.2em;
	font-style: italic;
	padding: 3px 0;
	text-align: center;
	width: 100%;
}

#fourPoints ul {
	margin: 0;
	padding: 0;
}

#fourPoints ul li {
	display: inline;
	padding: 0 48px;
}

/* =Self-clearing floats
---------------------------------------- */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/* =Universal Styles
---------------------------------------- */
.floatLeft { float: left;}
.floatRight { float: right;}

.center { text-align: center;}
.left { text-align: left;}	
.right { text-align: right;}

.hideFromScreen {
	display: none;
	visibility: hidden;
}