/**
 * @file
 * Site-specific Styling
 *
 * This is stuff that doesn't make sense other places.
 */

.field-name-field-services .field-items,
.field-name-field-need .field-items {
  margin: 0 1em;
}

#footer {
}

#footer .block {
  float: left;
  line-height: 1.2em;
  margin-left: 1em;
}

#footer .block p {
  margin: 0;
}

#footer .block ul.menu {
  margin: 0;
  padding: 0;
}

#footer ul.menu li.leaf {
  list-style-image: url();
  list-style-type: none;
}

#footer .block.four-points {
  background-color: #8a180e;
  clear: both;
  color: #ffffff;
  float: none;
  height: 2em;
  margin: 0;
}

#footer .block.four-points ul {
  margin: 0;
  padding: 0;
}

#footer .block.four-points ul li {
  float: left;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  list-style-image: url();
  list-style-type: none;
  text-align: center;
  width: 24.75%;
}

#footer .block.samhsa-downloads {
  min-width: 10em;
  width: 25%;
}

#footer .block.connect-with-samhsa {
  text-align: center;
}

#footer .block.connect-with-samhsa .block-content a {
  display: inline;
}

#footer .block.footer-logos {
  float: right;
  margin-right: 1em;
}

#footer .block.mission-statement {
  clear: both;
  color: #ffffff;
  float: none;
  font-size: 1.4em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

#footer .block.samhsa-address {
  clear: both;
  color: #ffffff;
  float: none;
  font-weight: bold;
  text-align: center;
}
